:root {
  --primary-font-family: Roboto, sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 2px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 92px;
}
.logo-dark {
  color: #000000;
}

.logo-light {
  color: #ffffff;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.contact-link,
.contact-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact-link:hover,
.contact-link:focus,
.contact-tel:hover,
.contact-tel:focus {
  color: var(--accent-color);
}

.contact-link {
  margin-left: auto;
  margin-right: 50px;
}

/* MAIN */

.hero {
  background-color: #2f303a;
  padding: 200px 0;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 30px;
  border: 1px solid var(--accent-color);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.qualities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.qualities-list {
  max-width: 270px;
}

.container-qualities {
  display: flex;
  justify-content: space-between;
}

.qualities-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.qualities-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.work {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.employees {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.employees-card {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.employees-content-wrapper {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-top: none;
  border-radius: 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.employees-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.employees-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* FOOTER */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-footer {
  margin-top: 20px;
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}

.contacts-footer {
  margin-bottom: 9px;
}

.contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

/* PORTFOLIO */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border: 1px solid #f5f4fa;
  border-radius: 4px;
  min-height: 38px;
  padding: 4px 20px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.filter-list {
  margin-right: 8px;
}

.filter-list:last-child {
  margin-right: 0;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.tab-list {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.tab-wrapper {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.project {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.project-position {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
